<template>
    <div class="row justify-content-center">
        <section class="page-section">
            <div class="container text-center">
                <img src="img/portfolio/service/landing.jpg" class="d-block w-100 text-center">
            </div>
            <div class="col-lg-12 text-center">
                <div style="height: 30px"></div>
                <input type="text" class="form-control" placeholder="이름을 입력하세요" v-model="userName" name="userName"
                        style="margin-bottom: 10px"/>
                <input type="text" class="form-control" placeholder="전화번호를 숫자만 입력하세요 예)01098761234" v-model="phone" name="phone"
                        style="margin-bottom: 10px"/>
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mt-2" name="replyNum" placeholder="인증번호 입력" v-model="replyNum"/>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-dark col-md-12 mt-2" @click="sendAuthCode()">인증번호 받기</button>
                    </div>
                </div>
                <div class="m-3">
                    <mq-layout mq="laptop">
                        <input type="checkbox" name="chk_info" value="agreePrivate" v-model="checkedPrivate">&nbsp;개인정보 제공 및 이용동의
                        <a class="js-scroll-trigger ml-2" href="#about" @click="seeYakkwan()"> 자세히 보기 ></a>
                    </mq-layout>
                    <mq-layout mq="tablet">
                        <div class="small">
                            <input type="checkbox" name="chk_info" value="agreePrivate">&nbsp;개인정보 제공 및 이용동의
                            <span class="js-scroll-trigger ml-2"  @click="seeYakkwan()">자세히 보기 ></span>
                        </div>
                    </mq-layout>
                </div>
                <button class="btn btn-danger btn-lg js-scroll-trigger col-lg-12 mt-1" @click="authLogin()">
                    <router-link to="/notfound" class="btn-danger">문의하기</router-link></button>
            </div>
        </section>
    </div>
</template>
<script>
    import VueMq from 'vue-mq'
    import Vue from "vue";
    import {userService} from '../_services/user.service';

    export default {
        components: {
            vueMq: VueMq
        },
        data(){
            return{
               userName:"",
               phone:"",
               replyNum:"",
               checkedPrivate: "", 
            }
        },
        methods:{
            sendAuthCode: function(){
                console.log(" this.checkedPrivate => ", this.checkedPrivate);
                const {phone} = this;
                const {userName} = this;
                if(!this.checkedPrivate){
                    alert('개인정보 제공 및 이용에 동의하셔야 합니다.');
                    return;
                }
                
                let kor_check = /([^가-힣ㄱ-ㅎㅏ-ㅣ\x20])/i;   // 한글 체크
                
                if(kor_check.test(userName) || userName.length > 5){
                    alert('이름은 한글 5글자 이내여야 합니다.');
                    return;
                }

                console.log(" userName=> ", userName);
                console.log(" phone => ", phone);
                userService.signupQ(userName, phone).then(response => {
                    if (response === 200) {
                        alert('인증 문자를 발송하였습니다.');
                        // router.push('/login');
                    } else {
                        alert('일시적 오류가 발생했습니다. 관리자에게 문의 해주세요');
                    }
                });
            }, 
            
            authLogin: function(){
                const {replyNum} = this;
                const {phone} = this;

                if(!this.checkedPrivate){
                    alert('개인정보 제공 및 이용에 동의하셔야 합니다.');
                    return;
                }

                userService.getQmember(phone).then(response =>{
                    response = JSON.parse(response);
                    console.log(" >>>>>  111 ", response);

                    if(response.code === "SUCCESS"){
                        console.log(" >>>>> 222 ", response.data);
                        if(response.data.replyNum === replyNum){
                            console.log(" >>>>> ", replyNum);
                            
                            userService.confirmQmember(phone).then(response =>{
                                console.log(" >>>>> response ", response);
                                // if(response.status === 200){
                                    alert('문의 접수 되었습니다.');
                                // }else{

                                // }
                            });
                        }else{
                            alert('인증 문자를 다시 입력해 주세요.');
                        } 
                    }else{

                    }
                });
                
            },
            seeYakkwan: function(){
                console.log(" ddddddddd ");
                alert('주식회사 퀀트리포트는 전자적 전송매체(이메일, SMS, TM, APP-PUSH)를 통한 상품 및 이벤트, 마케팅 정보 전송을 위하여 아래와 같이 개인정보를 수집·이용합니다. 상품 및 이벤트, 마케팅 정보 전송에 대한 내용을 자세히 읽어보신 후 동의 여부를 결정하여 주시길 바랍니다.\n\n' 
    + '* 개인정보 수집·이용 내역\n' 
    + '항목                : 휴대폰 번호, 성명\n'      
    + '수집·이용 목적   : 상품 및 이벤트 정보 전송\n' 
    + '보유기간          : 회원탈퇴 또는 수신거부 시까지\n\n' 
    + ' - 위의 개인정보 수집,이용에 대한 동의를 거부할 권리가 있습니다. 그러나 동의를 거부할 경우 상품 및 이벤트, 마케팅 정보 전송에 제한을 받을 수 있습니다.\n' );
            }
        }
    };
    Vue.use(
        VueMq, {
            breakpoints: {
                tablet: 500,
                laptop: 1250
            }
        }
    );
</script>

<style scoped>
</style>