<template>
    <div class="row justify-content-center">
        <section class="page-section">
            <div class="container text-center">
                <div style="margin-bottom: 30px">Quant Report 추천 종목</div>
                <div id="chart1" style="width:550px">
                    <apexchart type="line" height="350" :options="chartOptionsArr[0]" :series="series1"></apexchart>
                </div>
                <div id="chart2">
                    <apexchart type="line" height="350" :options="chartOptionsArr[1]" :series="series2"></apexchart>
                </div>
                <div id="chart3">
                    <apexchart type="line" height="350" :options="chartOptionsArr[2]" :series="series3"></apexchart>
                </div>
            </div>

        </section>
    </div>
</template>
<script>
    import VueMq from 'vue-mq'
    import Vue from "vue";
    import {userService} from '../_services/user.service';
    import VueApexCharts from "vue-apexcharts";
    import {chartService} from '../_services/chart.service';

    export default {
        components: {
            vueMq: VueMq
        },
        
        data(){
            return {
                eventname: '',
                code:'',

                series1:[],
                series2:[],
                series3:[],
                
                maxPrice1:'',
                minPrice1:'',
                maxPrice2:'',
                minPrice2:'',
                maxPrice3:'',
                minPrice3:'',

                chartOptionsArr: [
                {
                    chart: {
                        height: ['350%', 100],
                        type: 'line',
                    },
                    title: {
                        align:'left',
                        text:"삼성전자"
                    },
                    dataLabels: {
                        enabled: true,
                        enabledOnSeries: []
                    },
                    stroke: {
                        width:[2],
                    },
                    colors: ['#00e577', '#FF1654'],
                    yaxis: [{
                        seriesName:'candle',
                        tooltip: {
                            enabled:true
                        },
                        max: this.getMax1,
                        min: this.getMin1,
                    },{
                        opposite: true,
                        seriesName:'line',
                        tooltip: {
                            enabled:true
                        }
                    }],

                    plotOptions: {
                        candlestick: {
                            colors: {
                                upward: '#db0202',
                                downward: '#2200f1'
                            }
                        },

                    } 
                },
                {
                    chart: {
                        height: ['350%', 100],
                        type: 'line',
                    },
                    title: {
                        align:'left',
                        text:"네이버"
                    },
                    dataLabels: {
                        enabled: true,
                        enabledOnSeries: []
                    },
                    stroke: {
                        width:[2],
                    },
                    colors: ['#00e577', '#FF1654'],
                    yaxis: [{
                        seriesName:'candle',
                        tooltip: {
                            enabled:true
                        },
                        max: this.getMax2,
                        min: this.getMin2,
                    },{
                        opposite: true,
                        seriesName:'line',
                        tooltip: {
                            enabled:true
                        }
                    }],

                    plotOptions: {
                        candlestick: {
                            colors: {
                                upward: '#db0202',
                                downward: '#2200f1'
                            }
                        },

                    } 
                },
                {
                    chart: {
                        height: ['350%', 100],
                        type: 'line',
                    },
                    title: {
                        align:'left',
                        text:"셀트리온"
                    },
                    dataLabels: {
                        enabled: true,
                        enabledOnSeries: []
                    },
                    stroke: {
                        width:[2],
                    },
                    colors: ['#00e577', '#FF1654'],
                    yaxis: [{
                        seriesName:'candle',
                        tooltip: {
                            enabled:true
                        },
                        max: this.getMax3,
                        min: this.getMin3,
                    },{
                        opposite: true,
                        seriesName:'line',
                        tooltip: {
                            enabled:true
                        }
                    }],

                    plotOptions: {
                        candlestick: {
                            colors: {
                                upward: '#db0202',
                                downward: '#2200f1'
                            }
                        },

                    } 
                }
                
               ] //chart Option
            } // return
        },

        methods:{
            get3StockInfo(){
                const {code} = this;
                let stockData = [];
                let codesToDisplay = ["005930", "035420","068270"]; //샘숭, 네이바, 셀트

                this.series1 = [];
                this.series2 = [];
                this.series3 = [];

                chartService.getMultipleStockInfo(codesToDisplay).then(response => {
                    console.log(" response ====> ", response);
                    response[0].text().then(text => {
               
                        let obj = JSON.parse(text).data;
                        console.log(" obj 1=> ", obj);
           
                        let lineData = [];
                        let candleData = [];

                        let highPrices = [];
                        let lowPrices = [];

                        obj.forEach((each,index) => {
                            let day = each.collectDay.split('-');
                            let ohlc = [];
                            ohlc.push(each.openPrice);
                            ohlc.push(each.highPrice);
                            ohlc.push(each.lowPrice);
                            ohlc.push(each.tradePrice);
                            
                            highPrices.push(each.highPrice);
                            lowPrices.push(each.lowPrice);
                            // let dateData = new Date(day[0], day[1], day[2]);
                            // this.xData.push(dateData);
     
                            candleData.push({
                                x: each.collectDay.substr(5,5),
                                y: ohlc 
                            });
                            
                            lineData.push({
                                x: each.collectDay.substr(5,5),
                                y: each.score,
                            });
                        });

                        // 최대값
                        let maxPrice1 = highPrices.reduce( function (previous, current) { 
                            return previous > current ? previous:current;
                        });
                        this.maxPrice1 = Number.parseInt(maxPrice1 * 1.05)
                        console.log(" max => ", this.maxPrice1);
                        //최소값
                        let minPrice1 = lowPrices.reduce( function (previous, current) { 
                            return previous > current ? current:previous;
                        });
                        this.minPrice1 = Number.parseInt(minPrice1 * 0.95)
                        console.log(" min => ", this.minPrice1);

                        this.series1.push({
                            name: 'Stok Price',
                            type: 'candlestick',
                            data: candleData,
                        });

                        this.series1.push({
                            name: 'Isuue Index',
                            type: 'line',
                            data: lineData,
                        });
                     
                    });
       

                    response[1].text().then(text => {
                        let obj = JSON.parse(text).data;
                        console.log(" obj 2=> ", obj);
           
                        let lineData = [];
                        let candleData = [];

                        let highPrices = [];
                        let lowPrices = [];
                        obj.forEach((each,index) => {
                            let day = each.collectDay.split('-');
                            let ohlc = [];
                            ohlc.push(each.openPrice);
                            ohlc.push(each.highPrice);
                            ohlc.push(each.lowPrice);
                            ohlc.push(each.tradePrice);
                            
                            highPrices.push(each.highPrice);
                            lowPrices.push(each.lowPrice);
                            // let dateData = new Date(day[0], day[1], day[2]);
                            // this.xData.push(dateData);
     
                            candleData.push({
                                x: each.collectDay.substr(5,5),
                                y: ohlc 
                            });
                            
                            lineData.push({
                                x: each.collectDay.substr(5,5),
                                y: each.score,
                            });
                        });

                        // 최대값
                        let maxPrice2 = highPrices.reduce( function (previous, current) { 
                            return previous > current ? previous:current;
                        });
                        this.maxPrice2 = Number.parseInt(maxPrice2 * 1.05)
                        console.log(" max => ", this.maxPrice2);
                        //최소값
                        let minPrice2 = lowPrices.reduce( function (previous, current) { 
                            return previous > current ? current:previous;
                        });
                        this.minPrice2 = Number.parseInt(minPrice2 * 0.95)
                        console.log(" min => ", this.minPrice2);

                        this.series2.push({
                            name: 'Stok Price',
                            type: 'candlestick',
                            data: candleData,
                        });
  
                        this.series2.push({
                            name: 'Isuue Index',
                            type: 'line',
                            data: lineData,
                        });

                    });

                    response[2].text().then(text => {
                        let obj = JSON.parse(text).data;
                        console.log(" obj 3=> ", obj);
           
                        let lineData = [];
                        let candleData = [];

                        let highPrices = [];
                        let lowPrices = [];
                        obj.forEach((each,index) => {
                            let day = each.collectDay.split('-');
                            let ohlc = [];
                            ohlc.push(each.openPrice);
                            ohlc.push(each.highPrice);
                            ohlc.push(each.lowPrice);
                            ohlc.push(each.tradePrice);
                            
                            highPrices.push(each.highPrice);
                            lowPrices.push(each.lowPrice);
                            let dateData = new Date(day[0], day[1], day[2]);
                            // this.xData.push(dateData);
     
                            candleData.push({
                                x: each.collectDay.substr(5,5),
                                y: ohlc 
                            });
                            
                            lineData.push({
                                x: each.collectDay.substr(5,5),
                                y: each.score,
                            });
                        });

                        // 최대값
                        let maxPrice3 = highPrices.reduce( function (previous, current) { 
                            return previous > current ? previous:current;
                        });
                        this.maxPrice3 = Number.parseInt(maxPrice3 * 1.05)
                        console.log(" max => ", this.maxPrice3);
                        //최소값
                        let minPrice3 = lowPrices.reduce( function (previous, current) { 
                            return previous > current ? current:previous;
                        });
                        this.minPrice3 = Number.parseInt(minPrice3 * 0.95)
                        console.log(" min => ", this.minPrice3);

                        this.series3.push({
                            name: 'Stok Price',
                            type: 'candlestick',
                            data: candleData,
                        });

                        this.series3.push({
                            name: 'Isuue Index',
                            type: 'line',
                            data: lineData,
                        });

                    });
                }) //getStockInfo 
       
            },

            getMax1(){
                return Number.parseInt(this.maxPrice1 * 1.05)
            },

            getMin1(){
                return Number.parseInt(this.minPrice1 * 0.95)
            },
            getMax2(){
                return Number.parseInt(this.maxPrice2 * 1.05)
            },

            getMin2(){
                return Number.parseInt(this.minPrice2 * 0.95)
            },

            getMax3(){
                return Number.parseInt(this.maxPrice3 * 1.05)
            },

            getMin3(){
                return Number.parseInt(this.minPrice3 * 0.95)
            }


        },

        mounted : function(){
            console.log(" Mounted !!");
            this.get3StockInfo();
        },
    };
    Vue.use(
        VueMq, {
            breakpoints: {
                tablet: 500,
                laptop: 1250
            }
        }
    );
</script>

<style scoped>
</style>