<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
    // import Footer from '../public/Footer';
    // import TopMenu from '../public/TopMenu';
    import Landing from '../home/LandingPage';
    import RecommendedPageForCustomer from '../home/RecommendedPageForCustomer';

    export default {
        name: 'app',
        computed: {
            alert() {
                return this.$store.state.alert
            }
        },
        watch: {
            $route(to, from) {
                // clear alert on location change
                this.$store.dispatch('alert/clear');
            }
        },
        components: {
            // TopMenu,
            // Footer,
            Landing,
            RecommendedPageForCustomer
        }
    };
</script>
